node_modules/
__pycache__/
**.pyc
**.pyo
**.egg-info
**~
.*.swp
\#*\#
.\#*
alembic.ini
.env
.env.*
.venv
env
venv
venv-*/
config/
conf/
config.json
data/
build/
dist/
/target
.err
.vscode
/run.sh
ROADMAP.md
aliases/*/src
